
<h2><%= @task.title %></h2>
<br>
<p><%= @task.details %></p>
<br>
<p><%= @task.completed %></p>
<br>
<br>
<%= link_to "Back to list", tasks_path  %>
<br>
<br>
<%= link_to "Edit task", edit_task_path  %>
<br>
<br>
<%= link_to "Delete task", task_path(@task), method: :delete  %>
